In [9]:
import pandas as pd
import json
import math

In [10]:
# reading the data
url = 'https://raw.githubusercontent.com/rashida048/Datasets/master/movie_dataset.csv'
df = pd.read_csv(url,index_col=0)

In [3]:
# keep only required columns
df = df[['budget', 'release_date', 'production_companies', 'popularity', 'revenue', 'runtime', 'title', 'vote_average']]

# filtering data to remove all movies that do not have a run-time.
filter = df['runtime']>0
filtered_df = df.where(filter).dropna()

# set default option
pd.options.display.float_format = '{:.2f}'.format

In [39]:
# Question 1: Sort the movies ascending and descending based on runtime.

asc_sorted_df = filtered_df.sort_values(by = 'runtime', ascending = True).reset_index(drop=True)
desc_sorted_df = filtered_df.sort_values(by = 'runtime', ascending = False).reset_index(drop=True)

#print('Movie with the shorted runtime: '+ asc_sorted_df['title'][0] + ' with a runtime of: ' + str(asc_sorted_df['runtime'][0]) + ' minutes')
#print('Movie with the longest runtime: '+ desc_sorted_df['title'][0] + ' with a runtime of: ' + str(desc_sorted_df['runtime'][0]) + ' minutes')

Movie with the shorted runtime: Vessel with a runtime of: 14.0 minutes
Movie with the longest runtime: Carlos with a runtime of: 338.0 minutes

In [14]:
df['production_company_names'] = ''
df['adjusted_budget'] = 0
df['adjusted_revenue'] = 0
for pos in range(len(df)):
    names = [company['name'] for company in json.loads(df['production_companies'][pos])]
    df['production_company_names'][pos] = names  
    df['adjusted_budget'][pos] = df['budget'][pos]/len(names)
    df['adjusted_revenue'][pos] = df['revenue'][pos]/len(names)
    
exploded_df = df.explode('production_company_names').reset_index(drop=True)

years = []
for row in exploded_df['release_date']:  
    if row:
        years.append(str(row).split('-')[0])
    
exploded_df['release_year'] = years

/Users/maharshichattopadhyay/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/maharshichattopadhyay/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/maharshichattopadhyay/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/maharshichattopadhyay/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in long_scalars
  import sys
/Users/maharshichattopadhyay/Library/Python/3.7/lib/python/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/maharshichattopadhyay/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in long_scalars

/Users/maharshichattopadhyay/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in long_scalars
  import sys
/Users/maharshichattopadhyay/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in long_scalars

In [15]:
grouped_production_budget = exploded_df.groupby('production_company_names')['adjusted_budget'].sum().reset_index()
top_5_prod_companies = grouped_production_budget.sort_values(by = 'adjusted_budget', ascending = False).reset_index(drop=True).head(5)

In [ ]:
#top_5_prod_companies

In [16]:
top_5_vote_avg_agg_sorted = pd.DataFrame(columns=exploded_df.columns)

for company in top_5_prod_companies['production_company_names'].tolist():
    temp_df = exploded_df[exploded_df['production_company_names']==company]	
    temp_df = temp_df.sort_values(by = 'vote_average', ascending = False).head(5)
    top_5_vote_avg_agg_sorted = pd.concat([top_5_vote_avg_agg_sorted, temp_df], ignore_index=True)

In [24]:
#top_5_vote_avg_agg_sorted[['title', 'production_company_names', 'vote_average']]

                              title production_company_names  vote_average
0                   The Dark Knight             Warner Bros.          8.20
1                    The Green Mile             Warner Bros.          8.20
2   One Flew Over the Cuckoo's Nest             Warner Bros.          8.20
3       Once Upon a Time in America             Warner Bros.          8.20
4                       The Shining             Warner Bros.          8.10
5                  Schindler's List       Universal Pictures          8.30
6                            Psycho       Universal Pictures          8.20
7             To Kill a Mockingbird       Universal Pictures          8.00
8                Back to the Future       Universal Pictures          8.00
9                          Scarface       Universal Pictures          8.00
10                    The Godfather       Paramount Pictures          8.40
11           The Godfather: Part II       Paramount Pictures          8.30
12                     Forrest Gump       Paramount Pictures          8.20
13                           Psycho       Paramount Pictures          8.20
14     Once Upon a Time in the West       Paramount Pictures          8.10
15                    The Lion King     Walt Disney Pictures          8.00
16                       Inside Out     Walt Disney Pictures          8.00
17                       Big Hero 6     Walt Disney Pictures          7.80
18                           WALL·E     Walt Disney Pictures          7.80
19               The Straight Story     Walt Disney Pictures          7.70
20        One Direction: This Is Us        Columbia Pictures          8.00
21                On the Waterfront        Columbia Pictures          8.00
22     Mr. Smith Goes to Washington        Columbia Pictures          7.90
23                 Django Unchained        Columbia Pictures          7.80
24                      Stand by Me        Columbia Pictures          7.80

In [17]:
top_5_popularity_agg_sorted = pd.DataFrame(columns=exploded_df.columns)

for company in top_5_prod_companies['production_company_names'].tolist():
    temp_df = exploded_df[exploded_df['production_company_names']==company]	
    temp_df = temp_df.sort_values(by = 'popularity', ascending = False).head(5)
    top_5_popularity_agg_sorted = pd.concat([top_5_popularity_agg_sorted, temp_df], ignore_index=True)

In [41]:
#top_5_popularity_agg_sorted[['title', 'production_company_names', 'popularity']]

,title,production_company_names,popularity
0,Interstellar,Warner Bros.,724.25
1,Mad Max: Fury Road,Warner Bros.,434.28
2,The Dark Knight,Warner Bros.,187.32
3,Inception,Warner Bros.,167.58
4,Batman v Superman: Dawn of Justice,Warner Bros.,155.79
5,Minions,Universal Pictures,875.58
6,Despicable Me 2,Universal Pictures,136.89
7,Lucy,Universal Pictures,115.24
8,Despicable Me,Universal Pictures,113.86
9,Bruce Almighty,Universal Pictures,109.68
10,Interstellar,Paramount Pictures,724.25
11,Terminator Genisys,Paramount Pictures,202.04
12,The Avengers,Paramount Pictures,144.45
13,The Godfather,Paramount Pictures,143.66
14,Teenage Mutant Ninja Turtles,Paramount Pictures,143.35
15,Pirates of the Caribbean: The Curse of the Bla...,Walt Disney Pictures,271.97
16,Big Hero 6,Walt Disney Pictures,203.73
17,Frozen,Walt Disney Pictures,165.13
18,Pirates of the Caribbean: Dead Man's Chest,Walt Disney Pictures,145.85
19,Pirates of the Caribbean: At World's End,Walt Disney Pictures,139.08
20,Pixels,Columbia Pictures,140.85
21,Fury,Columbia Pictures,139.58
22,Chappie,Columbia Pictures,116.70
23,Spider-Man 3,Columbia Pictures,115.70
24,The Fifth Element,Columbia Pictures,109.53

In [18]:
top_5_revenue_agg_sorted = pd.DataFrame(columns=exploded_df.columns)

for company in top_5_prod_companies['production_company_names'].tolist():
    temp_df = exploded_df[exploded_df['production_company_names']==company]	
    temp_df = temp_df.sort_values(by = 'revenue', ascending = False).head(5)
    top_5_revenue_agg_sorted = pd.concat([top_5_revenue_agg_sorted, temp_df], ignore_index=True)

In [25]:
#top_5_revenue_agg_sorted[['title', 'production_company_names', 'revenue']]

,title,production_company_names,revenue
0,The Dark Knight Rises,Warner Bros.,1084939099
1,The Dark Knight,Warner Bros.,1004558444
2,Harry Potter and the Philosopher's Stone,Warner Bros.,976475550
3,Harry Potter and the Order of the Phoenix,Warner Bros.,938212738
4,Harry Potter and the Half-Blood Prince,Warner Bros.,933959197
5,Furious 7,Universal Pictures,1506249360
6,Minions,Universal Pictures,1156730962
7,Despicable Me 2,Universal Pictures,970761885
8,Jurassic Park,Universal Pictures,920100000
9,The Secret Life of Pets,Universal Pictures,875958308
10,Titanic,Paramount Pictures,1845034188
11,The Avengers,Paramount Pictures,1519557910
12,Transformers: Dark of the Moon,Paramount Pictures,1123746996
13,Transformers: Age of Extinction,Paramount Pictures,1091405097
14,Transformers: Revenge of the Fallen,Paramount Pictures,836297228
15,Frozen,Walt Disney Pictures,1274219009
16,Toy Story 3,Walt Disney Pictures,1066969703
17,Pirates of the Caribbean: Dead Man's Chest,Walt Disney Pictures,1065659812
18,Pirates of the Caribbean: On Stranger Tides,Walt Disney Pictures,1045713802
19,Alice in Wonderland,Walt Disney Pictures,1025491110
20,Skyfall,Columbia Pictures,1108561013
21,Spider-Man 3,Columbia Pictures,890871626
22,Spectre,Columbia Pictures,880674609
23,Spider-Man,Columbia Pictures,821708551
24,Spider-Man 2,Columbia Pictures,783766341

In [28]:
year_sorted = [] 
for year in years: 
    if not math.isnan(float(year)):
        if year not in year_sorted and int(year) > 2000 and int(year) <= 2016: 
            year_sorted.append(year)           
year_sorted.sort()

In [29]:
most_movies_by_year = pd.DataFrame(columns=['release_year', 'production_company_names',	'title'])
for year in year_sorted:
    temp_df = exploded_df[exploded_df['release_year']==year]	
    temp_df = temp_df.groupby(['release_year','production_company_names'])['title'].count().reset_index()
    temp_df = temp_df.sort_values(by = 'title', ascending = False).reset_index(drop=True).head(1)
    most_movies_by_year = pd.concat([most_movies_by_year, temp_df], ignore_index=True)

In [30]:
#most_movies_by_year

   release_year production_company_names title
0          2001             Warner Bros.    15
1          2002             Warner Bros.    15
2          2003       Universal Pictures    14
3          2004             Warner Bros.    14
4          2005       Universal Pictures    15
5          2006             Warner Bros.    17
6          2007             Warner Bros.    14
7          2008         Relativity Media    20
8          2009         Relativity Media    19
9          2010         Relativity Media    18
10         2011        Columbia Pictures    14
11         2012         Relativity Media    13
12         2013             Warner Bros.    12
13         2014             Warner Bros.    11
14         2015             Warner Bros.    12
15         2016       Universal Pictures    10

In [31]:
sliced_df = exploded_df[exploded_df['production_company_names'].isin(['DC Comics','Marvel Studios'])] 
sliced_df = sliced_df.groupby('production_company_names')['adjusted_budget','adjusted_revenue'].sum().reset_index()
sliced_df['profit_ratio']=sliced_df['adjusted_revenue']/sliced_df['adjusted_budget']

/Users/maharshichattopadhyay/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [32]:
#sliced_df

  production_company_names  adjusted_budget  adjusted_revenue  profit_ratio
0                DC Comics     302969448.67      799335978.33          2.64
1           Marvel Studios    1633333333.00     6816261805.00          4.17